.App {
  text-align: center;
}

.CenterDiv {
  position:absolute;
  top: 50px;
  align-items: center;
  width: 80%;
  height: 100px;
  line-height: 100px;
  text-align: center;
  justify-content: center;
  color: red;
  background-color:honeydew;
  border: dashed blue;
}